@import 'styles/theme';

.header {
  &.container {
    @include center;
    height: 30%;
  }

  &.title {
    font-weight: bold;
    color: $background;
    text-align: center;
  }

  &.logo {
    margin: auto;
    width: 25em;
  }

}