@import "styles/theme";

.header {
  &.head-container {
    @include center;
    height: 30%;
    background-color: $Brown;
  }

  &.title {
    font-weight: bold;
    color: $background;
    text-align: center;
  }

  &.logo {
    margin: auto;
    width: 50%;
  }
}
