@import 'styles/theme';

.lobby {
  //background-color: #3D1B00;
  overflow-y: hidden;
  *{
    padding:0;
    margin:0;
  }

  // divide the whole page to left and right
  &.row {
    content: "";
    //display: table;
    clear: both;
    height: 100%;
  }

  // left side content
  &.left {
    //padding: 20px;
    float: left;
    width: 15%;
    text-align: center;
    height: 100%;
    background-color: #3D1B00;
  }
  &.left-search-user {
    //float: left;
    //padding: 2px;
    height: 50px;
    //text-align: center;
    width: 100%;
    //vertical-align: center;
    //color: transparentize(#DBB110, 0.1);
    font-weight: bold;
    //background-color: blanchedalmond;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25), 0px 6px 6px rgba(0, 0, 0, 0.25);
  }
  &.left-search-input {
    font-size: 16px;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: $bar;
    float: left;
    //display: grid;
    //place-items: center;
    ::placeholder{
      color: $textColor;
    }
  }
  &.left-search-icon {
    height: 100%;
    width: 50px;
    background-color: $textColor;
    //float: left;
    //line-height: 50px;
    //display: grid;
    overflow: hidden;
    place-items: center;
  }
  &.left-search-icon svg {
    font-size: 50px;
  }
  &.dataResult {
    //float: top;
    position: absolute;
    font-weight: bold;
    z-index: 10;
    margin-top: 2px;
    //margin-left: 20px;
    //margin-left: 20px;
    width: calc(15%);
    height: 200px;
    background-color: $textColor;
    //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25), 0px 8px 8px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    overflow-y: auto;
    border-radius: 5px;
  }
  &.dataItem {
    margin-top: 2px;
    width: auto;
    height: 30px;
    text-align: center;
    overflow: hidden;
  }
  .dataItem:hover {
    background-color: #123597;
    cursor: pointer;
  }
  .dataResult::-webkit-scrollbar {
    display: none;
  }

  &.left-down-side {
    height: 100%;
    width: 100%;
  }
  // define the container for the up and down part of left side bar
  &.online-users-container {
    height: 50%;
    text-align: center;
    width: 100%;
    //vertical-align: center;
    color: black;
    font-weight: bold;
    //background-color: #8d3d45;
  }

  // child node of online-users-container
  &.online-users-title {
    height: 40px;
    text-align: center;
    width: 100%;
    vertical-align: center;
    text-align: center;
    color: $textColor;
    font-weight: bold;
    background-color: #3D1B00;
    line-height: 40px;
    //box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25), 0px 6px 6px rgba(0, 0, 0, 0.25);
  }

  // child node of online-users-container
  // &.online-users-myself {
  //   height: 40px;
  //   text-align: center;
  //   width: 100%;
  //   //vertical-align: center;
  //   color: black;
  //   font-weight: bold;
  //   background-color:brown;
  //   // line-height: 40px;
  //   // padding-right: 0.5em;
  //   // padding-top: 0.5em;
  // }
  &.user-myself-username {
    height: 40px;
    // text-align: center;
    width: 70%;
    //vertical-align: center;
    // line-height: 40px;
    float: left;
    line-height: 40px;
  }
  &.user-myself-edit {
    height: 40px;
    // text-align: center;
    width: auto;
    // vertical-align: center;
    float: left;
    cursor: pointer;
    padding-bottom: 0.1em;
    line-height: 40px;
    text-decoration: underline;
    overflow-x: hidden;
  }

  // child node of online-users-container
  &.online-users-list {
    overflow-y: auto;
    list-style: none;
    padding-left: 0;
    height: 100%;
    text-align: center;
    width: 100%;
    //vertical-align: center;
    color: $textColor;
    font-weight: bold;
    background-color:$bar;
  }
  &.user-list-username {
    height: 40px;
    text-align: center;
    width: 85%;
    //vertical-align: center;
    line-height: 40px;
    float: left;
  }
  &.user-list-edit {
    height: 100%;
    text-align: center;
    //width: 15%;
    //vertical-align: center;
    line-height: 40px;
    float: right;
    cursor: pointer;
    //padding: 0.3em;
  }

  // right side content
  &.right {
    float: right;
    width: 85%;
    text-align: center;
    height: 100%;
  }
  &.right-header {
    //float: left;
    //padding: 2px;
    height: 50px;
    //text-align: center;
    width: 100%;
    vertical-align: center;
    //color: transparentize(#DBB110, 0.1);
    font-weight: bold;
    //background-color: #8d3d45;
  }
  &.right-home-button {
    height: 50px;
    //text-align: center;
    width: 200px;
    vertical-align: center;
    text-align: center;
    color: $textColor;
    font-weight: bold;
    background-color: $bar;
    //position: relative;
    //left: 0;
    float: left;
    line-height: 38px;
    cursor: pointer;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25), 0px 6px 6px rgba(0, 0, 0, 0.25);
  }
  &.right-logout-button {
    height: 50px;
    //text-align: center;
    width: 200px;
    //vertical-align: center;
    color: $textColor;
    font-weight: bold;
    background-color: $bar;
    //text-align: center;
    vertical-align: center;
    line-height: 50px;
    //position: relative;
    //left: 0;
    float: right;
    cursor: pointer;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25), 0px 6px 6px rgba(0, 0, 0, 0.25);
  }
  &.right-main {
    height: 100%;
    //text-align: center;
    width: 100%;
    //vertical-align: center;
    color: transparentize(#DBB110, 0.1);
    //font-weight: bold;
    //background-color: #3D1B00;
    //background-color: #322828;
    background-image: url("https://speluitslagen.nl/images/stratego-ranks.jpg");
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.right-base-container {
    //margin: 5em;
    height: 75%;
    width: 75%;
    //@include center;
    //position: relative;
    //margin: auto;
    padding: 1em 1em 1em 1em;
    background-color: $bar;
    background-position: center;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25), 0px 8px 8px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    //display: flex;
    border-radius: 15px;
  }
  &.x {
    //display: inline-block;
    //position: relative;
    //content: "\00d7";
    //float: right;
    //float: top;
    top:0px;
    right:0px;
    background-color: black;
  }
  &.base-container-tile {
    text-align: center;
    height: 10%;
    width: 100%;
    //line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: $bar;
    font-size: 30px;
  }
  &.base-container-room-list {
    background-color: $bar;
    height: 80%;
    width: 100%;
    font-weight: bold;
  }
  &.base-container-create-button {
    background-color: $bar;
    height: 10%;
    width: 100%;
    //position: relative;
    //bottom: 0;
    //border-radius: 25px;
    background-color: #464277;
    cursor: pointer;
  }
  &.base-container-button {
    height: 80%;
    width: 30%;
    background-color: $textColor;
    border-radius: 25px;
    font-weight: bold;

  }
  #clearBtn {
    cursor: pointer;
  }
}