.ongoingGame {
    height: 100%;
    width: 100%;
    .ongoingGameContainer {
        //display: grid;
        //place-content: center;
        height: 80%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        .boardContainer {
            height: 90%;
            width: auto;
        }
    }

    .frame {
        height: 100%;
        width: 100%;
    }
}
//@import "styles/theme";
//.ongoingGame {
//    background-color: $Purple;
//    overflow-y: hidden;
//    height: 70%;
//    width: 70%;
//    border-radius: 15px;
//    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3), 0px 12px 12px rgba(0, 0, 0, 0.3);
//    position: relative;
//    padding-top: 2em;
//    padding-bottom: 2em;
//    flex-direction: column;
//    .ongoingGame-container {
//        @include center;
//        display: grid;
//        place-content: center;
//        height: 100%;
//    }
//
//    .ongoingGame-frame {
//        height: 100%;
//        width: 100%;
//    }
//}