@import "styles/theme";
.ongoingGame {
  height: 100%;
  width: 100%;
  @include center;
  background-color: #2b1301;
  .ongoingGameContainer {
    background-color: $Purple;
    overflow-y: hidden;
    border-radius: 15px;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3),
      0px 12px 12px rgba(0, 0, 0, 0.3);
    padding-bottom: 1em;
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $Purple;
    .titleContainer {
      height: 10%;
      width: 100%;
      color: $Yellow;
      @include center;
    }
    .boardContainer {
      height: 80%;
      width: 100%;
      @include center;
    }
    .ongoingGame-buttonArea {
      height: 10%;
      width: 100%;
      @include center;
      float: bottom;
      .ongoingGame-button {
        width: 20%;
      }
    }
  }
}
