@import 'styles/theme';

.register {
  &.container {
    margin-top: 0;
    min-height: 400px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :):) */
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 50em;
    height: 23em;
    font-size: 20px;
    font-weight: 300;
    padding:10em 15em;
    border-radius: 0.75em;
    // background-color: $background;
    // background: url("../images/WoodyOrange.svg");
    background-image: url("../images/scroll3.png");
    background-size: 1000px 470px;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    // border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(#efca9a, 0);
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 500;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
}

