@import "styles/theme";

.whole {
  background-color: $Brown;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  display: flex;

  .leftSideBar {
    width: 10%;
    height: 100%;
    background-color: $Purple;
  }
  .right {
    width: 90%;
    height: 100%;
    .main {
      width: 100%;
      height: 96%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../img/background.png");
      background-size: 100% 100%;
      @include center;
    }
  }
}