@import "styles/theme";
.board {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    width: 500px;
    height: 500px;
    //background-color: blue;
    border: $Brown solid 15px;
    
}





