@import "styles/theme";

.primary-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    opacity: 0.75;
    &:hover {
      transform: none;
    }
  }
  padding: 6px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  height: 40px;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  opacity: 1;
  color: $Yellow;
  background-color: $Brown;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px 12px 12px rgba(0, 0, 0, 0.3);

  &.small-font {
    font-size: 16px;
  }
}
