@import "styles/theme";
.Frame {
  height: 100%;
  width: 100%;

  &.Outer {
    height: 100%;
    padding: 1.5em;
    background-color: $Brown;
  }

  &.Ring {
    background-color: $Purple;
    height: 100%;
    padding: 1.5em;
  }

  &.Inner {
    background-color: $Brown;
    height: 100%;
  }
}
