@import "styles/theme";
.Frame {
  height: 100%;
  width: 100%;

  &.Outer {
    height: 100%;
    padding: 1.5em;
    background-color: #3d1b00;
  }

  &.Ring {
    background-color: #464277;
    height: 100%;
    padding: 1.5em;
  }

  &.Inner {
    background-color: #3d1b00;
    background-size: cover;
    height: 100%;
  }
}
