@import "styles/theme";
.leftSideContainer {
  width: 100%;
  height: 100%;
  background-color: $Purple;
  .search {
    height: 4%;
    width: 100%;
    font-weight: bold;
    overflow: hidden;
    &.input {
      width: 80%;
      height: 100%;
      font-size: 16px;
      border: none;
      align-items: center;
      justify-content: center;
      display: flex;
      background-color: $Purple;
      float: left;
    }
    &.icon {
      width: 30px;
      height: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      cursor: pointer;
      background-color: $Yellow;
      float: right;
      &.svg {
        font-size: 30px;
      }
    }
  }
  .dataResult {
    font-weight: bold;
    z-index: 10;
    margin-top: 1px;
    width: calc(15%);
    height: auto;
    position: absolute;
    top: calc(4%);
    background-color: $Yellow;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    overflow-y: auto;
    border-radius: 5px;
    padding: 0.7em;
    .dataItem {
      margin-top: 2px;
      width: auto;
      height: 30px;
      text-align: center;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        background-color: $Purple;
      }
    }
  }
  .up {
    height: 96%;
    width: 100%;
    .up-title {
      background-color: $Brown;
      color: $Yellow;
      height: 4%;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }
    &.up-content-users {
      list-style: none;
      color: $Yellow;
      height: 96%;
      background-color: $Purple;
      overflow-y: auto;
      overflow-x: auto;
      .item {
        height: 40px;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        line-height: 40px;
        align-items: center;
        cursor: pointer;
        font-weight: bold;
        font-size: 18px;
        margin-top: 1em;
      }
    }
    // players have no "cursor: pointer"
    &.up-content-players {
      list-style: none;
      color: $Yellow;
      height: 92%;
      background-color: $Purple;
      .item {
        height: 40px;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        line-height: 40px;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}
