@import "styles/theme";

.LobbyContainer {
  background-color: $Purple;
  height: 70%;
  width: 70%;
  border-radius: 15px;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3), 0px 12px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;
  .LobbyContainer-title {
    font-size: 30px;
    font-weight: bold;
    height: 10%;
    width: 60%;
    @include center;
    color: $Yellow;
    border-bottom: $Yellow solid 2.5px;
    padding-bottom: 0.7em;
  }
  .LobbyContainer-content {
    margin-top: 2em;
    list-style: none;
    color: $Yellow;
    height: 80%;
    width: 100%;
    overflow-y: auto;
    .LobbyContainer-players {
      height: 100%;
      width: 100%;
      overflow-y: auto;
      .LobbyContainer-list {
        height: auto;
        width: 100%;
        //overflow-y: auto;
        .LobbyContainer-item {
          list-style: none;
          height: 7%;
          width: 100%;
          @include center;
          margin-top: 0.3em;

          .LobbyContainer-item-roomId {
            height: 40px;
            //text-align: center;
            width: 20%;
            display: flex;
            justify-content: center;
            line-height: 40px;
            align-items: center;
            font-weight: bold;
            font-size: 18px;
            float: left;
          }

          &.item-join {
            height: 40px;
            text-align: center;
            width: 20%;
            display: flex;
            justify-content: center;
            line-height: 40px;
            align-items: center;
            cursor: pointer;
            font-weight: bold;
            font-size: 18px;
            float: left;
          }

          &.item-progress {
            height: 40px;
            text-align: center;
            width: 20%;
            display: flex;
            justify-content: center;
            line-height: 40px;
            align-items: center;
            font-weight: bold;
            font-size: 18px;
            float: left;
          }
        }
      }
    }
  }
  .LobbyContainer-buttonArea {
    height: 10%;
    width: 100%;
    @include center;
    float: bottom;
    // .LobbyContainer-button {
    //   height: 100%;
    //   width: 300px;
    //   border-radius: 18px;
    //   border: none;
    //   background-color: $Yellow;
    //   font-weight: bold;
    //   font-size: 20px;
    //   cursor: pointer;
    // }
  }
}
