@import "styles/theme";
.right {
  width: 100%;
  height: 100%;
  .nav {
    height: 4%;
    width: 100%;
    .lobby-button {
      height: 100%;
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $Yellow;
      font-weight: bold;
      background-color: $Purple;
      float: left;
      cursor: pointer;
      border: $Yellow solid 1px;
    }
    .logout-button {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%;
      color: $Yellow;
      font-weight: bold;
      background-color: $Purple;
      float: right;
      cursor: pointer;
      border: $Yellow solid 1px;
    }
  }
}
