.piece {
    height: 90%;
    width: 90%;
    display: grid;
    justify-items: center;
    

    & .image-container-red {
        border: 0.3rem solid;
        border-color: #800b0b;
        border-radius: 10%;
        background-color: rgb(248, 229, 196);
        padding: 5%;
        width: 90%;
    }

    & .image-container-blue {
        border: 0.3rem solid;
        border-color: rgb(2, 2, 129);
        border-radius: 10%;
        background-color: rgb(248, 229, 196);
        padding: 5%;
        width: 90%;
    }

    & .image-container:hover {
        cursor: pointer;
    }

}