.players {
  height: 100%;
  width: 100%;
  list-style: none;
  .item {
    height: 100%;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    .item-icon {
      height: 100%;
      width: 24%;
      display: flex;
      justify-content: center;
      align-items: center;
      float: left;
      .icon {
        height: 45px;
        width: 45px;
        float: right;
        background-color: rgb(248, 229, 196);
        border-radius: 50%;
        border: #800b0b solid 3px;
        padding: 5%;
        &.red {
          border: #800b0b solid 3px;
        }
        &.blue {
          border: rgb(2, 2, 129) solid 3px;
        }
      }
    }
    .item-username {
      margin-left: 0.5em;
      height: 20px;
      text-align: center;
      width: 24%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 18px;
      float: right;
    }
  }
}
