@import "styles/theme";

.profileContainer {
  background-color: $Purple;
  overflow-y: auto;
  height: 70%;
  width: 70%;
  border-radius: 15px;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3), 0px 12px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;
  .profileContainer-title {
    font-size: 30px;
    font-weight: bold;
    height: 10%;
    width: 60%;
    @include center;
    color: $Yellow;
    border-bottom: $Yellow solid 2.5px;
    padding-bottom: 0.7em;
  }
  .profileContainer-content {
    height: 80%;
    width: 100%;
    padding-top: 3em;
    .profileContainer-field {
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 20%;
      padding-left: 20%;
      &.label {
        height: 100%;
        width: 60%;
        font-size: 22px;
        font-weight: bold;
        justify-content: center;
        color: $Yellow;
        display: flex;
        align-items: center;
        //text-align: center;
      }
      &.input {
        height: 40%;
        border: none;
        background-color: #0e084c;
        opacity: 0.3;
        color: $Yellow;
        width: 50%;
        font-size: 22px;
        cursor: text;
        font-weight: bold;
        padding: 0%;
        text-align: center;
        // display: flex;
        // justify-content: flex-start;
        // align-items: center;
      }
      &.disabled-input {
        display: flex;
        height: 100%;
        border: none;
        background: $Purple;
        color: $Yellow;
        width: 40%;
        font-size: 22px;
        // cursor: not-allowed;
        font-weight: bold;
        justify-content: center;
        align-items: center;
      }
    }
    .profileContainer-statistics {
      display: flex;
      justify-content: center;
      height: 10%;
      width: 100%;
      font-size: 25px;
      align-items: center;
      font-weight: bold;
      color: black;
    }
  }

  .profileContainer-buttonArea {
    height: 10%;
    width: 100%;
    @include center;
    float: bottom;
    .profileContainer-button {
      height: 60%;
      width: 30%;
      border-radius: 18px;
      border: none;
      background-color: $Yellow;
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
