@import "styles/theme";

.roomContainer {
  background-color: $Purple;
  overflow-y: hidden;
  height: 70%;
  width: 70%;
  border-radius: 15px;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3), 0px 12px 12px rgba(0, 0, 0, 0.3);
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  .roomContainer-title {
    font-size: 30px;
    font-weight: bold;
    height: 10%;
    width: 60%;
    @include center;
    color: $Yellow;
    border-bottom: $Yellow solid 2.5px;
    padding-bottom: 0.7em;
  }
  .roomContainer-content {
    overflow-y: hidden;
    list-style: none;
    color: $Yellow;
    height: 80%;
    width: 100%;
  }
  .roomContainer-buttonArea {
    height: 10%;
    width: 100%;
    @include center;
    float: bottom;
    .roomContainer-button {
      height: 60%;
      width: 30%;
      border-radius: 18px;
      border: none;
      background-color: $Yellow;
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
