.square {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: end;

  &.dark {
    background-color: #275101;
  }

  &.light {
    background-color: #426600;
  }

  &.lake {
    background-color: rgb(75, 75, 240);
  }

  &.highlight-movement {
    background-color: #183101;
  }
  &.highlight-attack {
    background-color: rgb(184, 235, 121);
  }
  &.highlight-selected {
    background-color: rgb(230, 243, 213);
  }
}
