.tile {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;

    &.dark {
        background-color: #275101;
    }

    &.light {
        background-color: #426600;
    }
}

img {
    height: 100%;
    width: 80%;
}