@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

:root {
  --back-color: #3D1B00;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-shadow: 0.1em 0.1em 0.5em hsla(0,0%,0%,0.75);
}

// .box {
//   font-family: 'Chelsea Market', cursive;
//   letter-spacing: 0.3em;
//   color: whitesmoke;
// }

// button {
//   font-family: 'Chelsea Market', cursive;
// }

// input[type=number] {
//   width: 3em;
//   vertical-align: middle;
//   font-family: monospace;
//   text-align: center;
// }

// input[type=number]::-webkit-inner-spin-button, 
// input[type=number]::-webkit-outer-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// input[type=range] {
//   vertical-align: middle;
// }

.svg { 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

svg > rect {
  fill: var(--back-color);
}